
/* ------------Manual Codes for Adjustment------------ */

/* Logo Mobile View Adjust */


@media (max-width: 768px){
.mn-logo-01{
width: 100%; 
text-align: center;
margin-bottom: 5%;
}
}

.mn-text-center{
    margin-left: -45%;
    margin-top: -15% ;
}

@media (max-width: 768px){
.mn-text-center{
    margin-left: 0%;
    margin-top: 0%;
    padding-top: 0%;

}
}

.mn-cap-01{
    display: flex;
    float: right;
}

.mn-ser-01{
    margin-left: 25%;
}

@media (max-width: 768px){
    .mn-ser-01{
        margin-left: -5%;
    }
}

.mn-upcom-01{
    margin-left: 38%;
}

@media (max-width: 768px){
    .mn-upcom-01{
        margin-left: -5%;
    }
}

.mn-upcom-02{
    margin-left: 28%;
    width: max-content;
    height: max-content;
}

@media (max-width: 768px){
    .mn-upcom-02{
        margin-left: 0;
        width: 100%;
        height: 100%;
    }
}
.mn-upcom-03{
    margin-left: 10%;}

@media (max-width: 768px){
    .mn-upcom-02{
        margin-top: 5%;
        width: fit-content;
        height: fit-content;
    }
}


.mn-head-01{
        margin-top: -7%;
        height: 250px;
}

@media (max-width: 768px){
    .mn-head-01{
        margin-top: -35%;
        height: 200px;
    }
}
@media (max-width: 768px){
    .mn-home-01{
        margin-top: 40%;
    }
}

body{
    background:linear-gradient(90DEG, #000000, #3533cd);
}

/* .mn-ft-alig-01{
    width: 100%;
    margin-left: 28%;
}

@media (max-width: 768px){
    .mn-ft-alig-01{
        margin-left: 20%;
    }
} */

.mn-font-dark-01{
    color: rgb(255, 255, 255);
    
}
.mn-gal-01{
    width: 351px;
}
.mn-gal-03{
    width: 315px;
}
.mn-gal-04{
    width: 238px;
}
.mn-gal-05{
    width: 450px;
    margin-left: 2%;
}
.mn-gal-01{
    width: 370px;}
.mn-gal-07{
        width: 345px;}
    
.mn-gal-06{
        width: 320px;}

@media(max-width: 768px){
    .mn-gal-01 .mn-gal-02 .mn-gal-03 .mn-gal-04 .mn-gal-05 .mn-gal-06 .mn-gal-07{
        width: 300px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 768px){
    .mn-head-01{
        margin-top: 5px;
    }
}

@media (max-width: 768px) {
    .mn-sub-ttl-01{
        font-size: 12px;
        margin-bottom: 100px;
    }
    
}


@media (max-width: 768px){
    .mn-ser-add-02{
        font-size: 12px;
    }
}

@media (max-width: 768px){
    mn-cnt-hm-01{
        margin-top: 10%;
    }
}